{% extends '@BaseAdmin/bundles/EasyAdminBundle/page/login.html.twig' %}

{% block body_class 'form' %}
{% block page_title %}{{ page_title is defined ? page_title|raw : (ea is defined ? ea.dashboardTitle|raw : '') }}{% endblock %}
{% block page_title_info %}{% endblock page_title_info %}

{% block wrapper_wrapper %}
	{% set page_title = block('page_title') %}
	{% set page_title_info = block('page_title_info') %}
    {% set _username_label = username_label is defined ? username_label|trans : 'login_page.username'|trans({}, 'EasyAdminBundle') %}
    {% set _password_label = password_label is defined ? password_label|trans : 'login_page.password'|trans({}, 'EasyAdminBundle') %}
    {% set _forgot_password_label = forgot_password_label is defined ? forgot_password_label|trans : 'login_page.forgot_password'|trans({}, 'EasyAdminBundle') %}
    {% set _remember_me_label = remember_me_label is defined ? remember_me_label|trans : 'login_page.remember_me'|trans({}, 'EasyAdminBundle') %}
    {% set _sign_in_label = sign_in_label is defined ? sign_in_label|trans : 'login_page.sign_in'|trans({}, 'EasyAdminBundle') %}

    {% include '@EasyAdmin/flash_messages.html.twig' %}

	<div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">

                    	{% if page_title %}
	                        <h1 class="">{{ page_title|raw }}</h1>
	                    {% endif %}

	                    {% if page_title_info %}
                        	<p class="">{{ page_title_info|raw }}</p>
                    	{% endif %}
                        
                        {% if error|default(false) %}
			                <div class="w-100 alert alert-danger rounded mb-3">
			                    <i class="fas fa-times-circle mr-1"></i>
			                    {{ error.messageKey|trans(error.messageData, 'security') }}
			                </div>
			            {% endif %}

			            {% block fos_user_content %}
            			{% endblock fos_user_content %}

                    </div>                    
                </div>
            </div>
        </div>
    </div>
{% endblock wrapper_wrapper %}